
__pycache__/
*.py[cod]
*$py.class

venv/
env/
ENV/
task_env/
*.env
.venv/

instance/
*.db
*.sqlite3
*.pyc
*.pyo

.env
.env.*

.cache/
*.cover
coverage.*

.vscode/

.DS_Store

Thumbs.db
ehthumbs.db
Desktop.ini

.idea/

migrations/

*.log

pip-log.txt
pip-delete-this-directory.txt

*.so
